.home {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-image: url("../assets/backgrounds/JapBoat_Day.png");
    background-position: center;
    background-size: 1920px 100%;
    background-repeat: no-repeat;
    /* background-size: cover; */
}