.projects {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    /* background-image: url("../assets/backgrounds/SeaNight.png"); */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#619fe4+0,233abc+100 */
background: #619fe4; /* Old browsers */
background: -moz-linear-gradient(top,  #619fe4 0%, #233abc 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #619fe4 0%,#233abc 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #619fe4 0%,#233abc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#619fe4', endColorstr='#233abc',GradientType=0 ); /* IE6-9 */

    background-position: center;
    background-size: 1920px 100%;
    background-repeat: no-repeat;
}