.s3 {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#233abc+0,131f66+100 */
    background: linear-gradient(to bottom,  #233abc 0%,#131f66 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-color: aquamarine;
    background-position: center;
    background-size: 1920px 100%;
    background-repeat: no-repeat;
    /* background-size: cover; */
}


.s4Light {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background: linear-gradient(to bottom, #131f66 0%, #0c0c3f 100%);
}

.s4Dark {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background: linear-gradient(to bottom, #090419 0%, #030109 100%);

}

.s5Dark {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    
    background: linear-gradient(to bottom, #030109 0%, #000000 100%);
}

.s5Light {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    
    background: linear-gradient(to bottom, #0c0c3f 0%, #010111 100%);
}


.s6Light {
    width: 100%;
    min-height: 100vh;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: -100px;
    
    background: linear-gradient(to bottom, #010111 0%, #000000 100%);
}

.s6Dark {
    width: 100%;
    min-height: 100vh;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: -100px;
    
    background-color: #000000;
}


.s6 a {
    /* color: blue; */
    cursor: pointer;
    text-decoration: underline;
} a:hover {
    color: lightblue;
}

.s7 {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    background-image: 
    
    url(../assets/svg/First_Wave.svg), 
    url(../assets/svg/Second_Wave.svg), 
    url(../assets/svg/boat.svg),
    url(../assets/svg/Third_Wave.svg), 
    url(../assets/svg/Forth_Wave.svg), 

 
    url(../assets/svg/Sun.svg), 
    url(../assets/svg/Day.svg);
    /* linear-gradient(to bottom,  #131f66 0%,#0c0c3f 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    background-position: left bottom, left bottom, center, left bottom, left bottom, center, left;
    /* background-size: 1920px 100%; */
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    /* background-size: cover; */
}


.bubble {
	display: block;
	-webkit-tap-highlight-color: transparent;
}

label {
	animation: float 4s ease-in-out infinite;
}

.bubble:focus, .bubble:hover {
	transform: scale(1.5);
	outline: none;
}
/* Click sur la bulle : */
/* .bubble:focus:active, .bubble:hover:active {
	width: 3.6em;
	height: 2.4em;
} */
.bubble:focus:before, .bubble:hover:before {
	filter: drop-shadow(0.75em 0.75em 4px hsla(0,0%,0%,0.2));
}
.bubble:focus:after, .bubble:hover:after {
	transform: translate3d(0.15em,0.15em,-1px);
}

.bubble {

    --bubbleTiming: cubic-bezier(0.5,0.15,0.25,1.75);
	font-size: calc(100px + (60 - 40) * (100vw - 320px) / (1280 - 320));

    transition-duration: 0.2s;
    border-radius: 50%;

    background-image:
		radial-gradient(8% 8% at 22% 28%,hsl(0,0%,100%) 45%,hsla(0,0%,100%,0) 50%),
		radial-gradient(8% 8% at 23% 27%,hsl(0,0%,100%) 45%,hsla(0,0%,100%,0) 50%),
		radial-gradient(8% 8% at 24% 26%,hsl(0,0%,100%) 45%,hsla(0,0%,100%,0) 50%),
		radial-gradient(8% 8% at 25% 25%,hsl(0,0%,100%) 45%,hsla(0,0%,100%,0) 50%),
		radial-gradient(8% 8% at 26% 24%,hsl(0,0%,100%) 45%,hsla(0,0%,100%,0) 50%),
		radial-gradient(8% 8% at 27% 23%,hsl(0,0%,100%) 45%,hsla(0,0%,100%,0) 50%),
		radial-gradient(8% 8% at 28% 22%,hsl(0,0%,100%) 45%,hsla(0,0%,100%,0) 50%);
	box-shadow:
		0 -0.06em 0.1em hsl(0,90%,100%) inset,
		0 -0.15em 0.4em rgb(11, 101, 218) inset,
		0 0.05em 0.05em rgb(11, 132, 218) inset,
		0.05em 0 0.1em hsl(0,90%,100%) inset,
		-0.05em 0 0.1em hsl(0,90%,100%) inset,
		0 0.1em 0.4em rgb(61, 141, 245) inset;
    cursor: pointer;
	position: relative;
	width: 3em;
	height: 3em;
	transform-style: preserve-3d;
	transition-property: box-shadow, transform, width, height;
	transition-timing-function: ease-in-out, ease-in-out, var(--bubbleTiming), var(--bubbleTiming);
	will-change: transform;
	-webkit-appearance: none;
	appearance: none;
	z-index: 0;

}

/* Reduced motion */
@media (prefers-reduced-motion: reduce) {
	label {
		animation: none;
	}
	.bubble {
		transition-duration: 0s;
	}
	.bubble:focus, .bubble:hover {
		transform: scale(1);
	}
	.bubble:focus:active, .bubble:hover:active {
		width: 3em;
		height: 3em;
	}
	.bubble:focus:before, .bubble:hover:before {
		filter: drop-shadow(0.6em 0.6em 4px hsla(0,0%,0%,0.2));
	}
	.bubble:focus:after, .bubble:hover:after {
		transform: translate3d(0,0,-1px);
	}
}
/* Animations */
@keyframes float {
	from, to {
		transform: translate(0,3%);
	}
	25% {
		transform: translate(-3%,0);
	}
	50% {
		transform: translate(0,-3%);
	}
	75% {
		transform: translate(3%,0);
	}
}