/* .App {
  min-height: 100vh;
  width: 100%;
  background-image: url("../public/assets/backgrounds/BoatDay.svg");
  background-color: black;
} */
body {
  padding: 0;
  margin: 0;
}

button,
a,
li,
ul {
  all: unset;
}